* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}

body {
    background-color: rgb(22, 22, 22);
}

nav {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 18px;
    background-color: rgb(44, 44, 44);
    border: 8px solid rgb(44, 44, 44);
    border-radius: 20px;
    text-align: center;
    font-size: x-large;
}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    background-color: rgb(44, 44, 44);
}

nav ul li {
    width: 23.5%;
    display: inline-block;
    position: relative;
    border: 4px solid rgb(44, 44, 44);
    border-radius: 10px;
}

nav ul li a {
    display: block;
    padding: 3%;
    
}

nav ul li ul.dropdown li {
    display: block;
    border: 4px solid rgb(66, 66, 66);
    text-align: center;
    width: 96%;
}

nav ul li ul.dropdown {
    width: 100%;
    z-index: 400;
    display: none;
    position: absolute;
    height: auto;
    margin-top: 4px;
    background-color: rgb(66, 66, 66);
    border: 4px solid rgb(66, 66, 66);
    border-radius: 10px;
    margin-left: -2px;
    font-size: large;
}



nav ul li:hover ul.dropdown {
    display: block;
}

nav ul li:hover {
    background-color: rgb(88, 88, 88);
    border-color: rgb(88, 88, 88);
}

footer table {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 18px;
    background-color: rgb(44, 44, 44);
    border: 8px solid rgb(44, 44, 44);
    border-radius: 20px;
    text-align: center;
}

footer table td {
    border: 4px solid rgb(44, 44, 44);
    border-radius: 10px;
}

footer table td:hover {
    border-color: rgb(66, 66, 66);
    background-color: rgb(66, 66, 66);
}

main {
    border: 8px solid rgb(22, 22, 22);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%
}

.contentPane {
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: rgb(44, 44, 44);
    border: 8px solid rgb(44, 44, 44);
    border-radius: 20px;
    padding: 1.5%;
}

.contentPane a {
    color: rgb(70, 120, 230);
    text-decoration: underline;
}

main table {
    width: 80%;
    border: 1px solid white;
    border-collapse: collapse;
}

main table td, main table th {
    text-align: center;
    border: 1px solid white;
}

main input, select {
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 1%;
}

main button {
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    padding: 1%;
    margin: 1.5%;
    margin-left: 0%;
    opacity: 75%;
}

.contentPane .credit {
    color: gray;
    font-size: smaller;
}