@import "../../core.css";

.contentPane .credit {
    color: gray;
    font-size: smaller;
}

main table {
    width: 80%;
    border: 1px solid white;
    border-collapse: collapse;
}

main table td, main table th {
    width: 5%;
    border: 1px solid white;
    text-align: center;
}

main table th {
    border-bottom-width: 3px;
}

.contentPane h3 {
    margin-top: 1.5%;
    margin-bottom: 0.75%;
}

.greenBg {
    background-color: darkgreen;
}

.blueBg {
    background-color: darkblue;
}

.redBg {
    background-color: red;
}

main input {
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 1%;
}
main button {
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    padding: 1%;
    margin: 1.5%;
    margin-left: 0%;
    opacity: 75%;
} 