@import "../../core.css";

main table {
    width: 80%;
    border: 1px solid white;
    border-collapse: collapse;
}

main table td {
    width: 10%;
    border: 1px solid white;
    text-align: center;
}

main table th {
    width: 10%;
    border: 1px solid white;
    border-bottom-width: 3px;
}

main ul {
    padding-left: 20px;
}

.highlight {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 35%;
    font-size: larger;
}

.contentPane a {
    color: rgb(70, 120, 230);
    text-decoration: underline;
}

main select, main button {
    background-color: rgb(66, 66, 66);
    margin: 0.5%;
    padding: 0.5%;
    text-align: center;
}

main button {
    width: 15%;
}

#raid5_img {
    text-align: left;
}

.contentPane .credit {
    color: gray;
    font-size: smaller;
}

.contentPane h3 {
    margin-top: 1.5%;
    margin-bottom: 0.75%;
}

.red {
    color: red;
    display: inline;
}

.magenta {
    color: magenta;
    display: inline;
}

.green {
    color: green;
    display: inline;
}

main p {
    text-indent: 0.5%;
}