@import "../../core.css";

main table {
    width: 80%;
    border: 1px solid white;
    border-collapse: collapse;
}

main table td, main table th {
    text-align: center;
    border: 1px solid white;
}

main ul {
    padding-left: 20px;
}

.highlight {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 35%;
    font-size: larger;
}

.contentPane a {
    color: rgb(70, 120, 230);
    text-decoration: underline;
}

.hammingCodeTableBig, .hammingCodeTableSmall {
    text-align: center;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
}

.hammingCodeTableBig {
    font-size: xx-large;
    height: 25vh;
    width: 25vh;
}

.hammingCodeTableSmall {
    margin-right: 5%;
    float: left;
    font-size: large;
    height: 15vh;
    width: 15vh;
}

.hammingCodeTableBig td, .hammingCodeTableSmall td {
    display: table-cell;
    height: 25%;
    width: 25%
}

.clearFloat {
    clear: both;
}

.contentPane .credit {
    color: gray;
    font-size: smaller;
}

.greenBg {
    background-color: darkgreen;
}

.blueBg {
    background-color: darkblue;
}

.redBg {
    background-color: red;
}

#sumLine {
    width: 40px;
}
