@import "../../core.css";

.contentPane button {
    border-radius: 15px;
}

.qr-code {
    max-width: 200px;
    margin: 10px;
}

em {
    opacity: 50%;
}

.contentPane .credit {
    color: gray;
    font-size: smaller;
}