@import "../core.css";

main table {
    width: 80%;
    border: 1px solid white;
    border-collapse: collapse;
}

main table td, main table th {
    border: 1px solid white;
    text-align: center;
}

main ul {
    padding-left: 20px;
}

.highlight {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 35%;
    font-size: larger;
}

.contentPane a {
    color: rgb(70, 120, 230);
    text-decoration: underline;
}