* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}

body {
    background-color: rgba(33, 33, 33, 1);
}

nav {
    background-color: rgba(44, 44, 44, 1);
}

footer {
    background-color: rgba(44, 44, 44, 1);
}

a {
    text-decoration: none;
}

#last-edited {
    color: gray;
}

nav {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

footer {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.contentPane {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(55, 55, 55, 1);
    border: 8px solid rgba(55, 55, 55, 1);
    border-radius: 15px;
    padding: 1.5%;
}

.contentPane a {
    color: rgb(70, 120, 230);
    text-decoration: underline;
}

.contentPane h1 {
    margin-bottom: 1%;
}

.contentPane h2 {
    margin-top: 2%;
    margin-bottom: 1%;
}

.contentPane h3 {
    margin-bottom: 0.5%;
}

.contentPane button, .contentPane input, .contentPane select {
    background-color: rgba(44, 44, 44, 1);
    border: 2px solid rgba(44, 44, 44, 1);
    border-radius: 20px;
    margin: 0.5%;
    padding: 0.5%;
    text-align: center;
}